<h1>Web page created with ansible playbook</h1>
<h1>owner of this server is: {{ owner }}</h1>
<h1>Server Host Name: {{ ansible_hostname }}</h1>
<h1>Server OS Family is: {{ ansible_os_family }}</h1>
<h1>IP Adress of this Server is: {{ ansible_default_ipv4.address }}</h1>
